.footer {
  background-color: $bg-header;
  padding: 70px 0 82px;

  &-header {
    text-align: center;

    .logo {
      display: none;
    }

    h2 {
      color: white;
    }

    p {
      color: $text-color-light;
      max-width: 339px;
      margin: 14px auto 35px;
    }

    .button-primary {
      margin: 0 auto;
    }
  }

  &-list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  &-heading {
    color: white;
    margin-bottom: 22px;
    display: inline-block;
  }

  &-links {
    color: $text-color-light;
    display: flex;
    flex-direction: column;
    @include body-2;
  }

  .logo {
    margin-bottom: 31px;
  }

  &-text {
    color: $text-color-light;
    @include subtitle-1;
    margin-bottom: 15px;
  }

  @include maxWidth(1023px) {
    padding: 75px 0 36px;
    &-header {
      .logo {
        display: flex;
        justify-content: center;
      }

      .button-primary {
        margin: 0 auto 61px;
      }
    }

    .menu-icon {
      float: right;
    }

    &-list {
      display: none;
    }
  }
}
