.service {
  padding: 166px 0 140px;

  h2 {
    text-align: center;
    margin-bottom: 58px;
  }

  &-list {
    display: flex;
    gap: 0 23px;
  }

  &-item {
    padding: 43px 35px 63px;
    transition: all 0.2s linear;

    .icon {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.08);
      margin-bottom: 46px;
      transition: all 0.2s linear;
    }

    span {
      @include subtitle-2;
    }

    p {
      @include subtitle-1;
      margin-top: 13px;
      color: $text-color-main;
    }

    &:hover {
      box-shadow: 0px 16px 250px 10px rgba(155, 155, 155, 0.25);

      .icon {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  @include maxWidth(1023px) {
    padding: 60px 0 34px;

    &-list {
      flex-direction: column;
    }

    &-item {
      .icon {
        margin-bottom: 37px;
      }
    }
  }
}
