h1 {
  font-size: 52px;
  line-height: calc(62 / 52);
  font-weight: 600;
}

h2 {
  font-size: 50px;
  line-height: calc(63 / 50);
  font-weight: 600;
}

h3 {
  font-size: 44px;
  line-height: calc(55 / 44);
  font-weight: 600;
}

h4 {
  font-size: 40px;
  line-height: calc(50 / 40);
  font-weight: 600;
}

@mixin title-1 {
  font-size: 22px;
  line-height: calc(32 / 22);
  font-weight: 600;
}

@mixin title-2 {
  font-size: 17px;
  line-height: calc(22 / 17);
  font-weight: 600;
}

@mixin subtitle-1 {
  font-size: 16px;
  line-height: calc(26 / 16);
  font-weight: 400;
}

@mixin subtitle-2 {
  font-size: 20px;
  line-height: calc(25 / 20);
  font-weight: 600;
}

@mixin body-1 {
  font-size: 18px;
  line-height: calc(28 / 18);
  font-weight: 400;
}

@mixin body-2 {
  font-size: 18px;
  line-height: calc(48 / 18);
  font-weight: 400;
}

@include maxWidth(1023px) {
  h1 {
    font-size: 30px;
    line-height: calc(40 / 30);
  }

  h2 {
    font-size: 30px;
    line-height: calc(40 / 30);
  }

  h4 {
    font-size: 24px;
    line-height: calc(34 / 24);
  }
}
