$primary-font: 'Sora', sans-serif;

$primary-gradient: linear-gradient(93.52deg, #4bfcff 8.71%, #00bd82 98.16%);
$bg-body: #fdf9f1;
$bg-header: #1e1e1e;
$text-color-main: #7f7d79;
$text-color-light: #b5b3af;
$text-color-dark: #545454;
$primary-color: #00bd82;
$secondary-color: (
  light: #e2f471,
  main: #dfff1b,
);
